.chivo-mono-reg {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.chivo-mono-bold {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
	font-family: "Chivo Mono";
	text-align: center;
}


#transition {
	transition: background-color 3000ms linear;
}